.Call_to_act {
    display: block;
    margin-top: 10%;
    z-index: 222;
    color: #fff;
}
.xgef {
    font-size: 300%;
    font-weight: 500;
}
.mxen {
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Monoton', cursive!important;
    text-shadow: 0 6px 18px #c22ec2;
}
@media (max-width: 320px){
    .mxen {
        font-size: 4rem;
    }
}