.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}
.col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}
.col-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.col-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
}
@media (min-width: 1024px) and (max-width: 1280px){
    .product-item {
        padding: 0 50px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .product-item {
        padding: 0 50px;
    }
    .img_bg {
        height: 450px!important;
    }
}
@media (min-width: 649.98px) and (max-width: 768.98px){
    .product-item {
        padding: 0 15px;
    }
}
@media (max-width: 574.98px){
    .product-item {
        padding: 0 80px;
    }
    .img_bg {
        height: 400px!important;
    }
}
@media (max-width: 524.98px){
    .product-item {
        padding: 0 50px;
    }
    .img_bg {
        height: 400px!important;
    }
}
@media (max-width: 474.98px) {
    .product-item {
        padding: 0 40px!important;
    }
}
@media (max-width: 424.98px) {
    .product-item {
        padding: 0 10px!important;
    }
}

@media (max-width: 320px){
    .product-item {
        padding: 0 10px!important;
    }
}