.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}
.col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
}
.col-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.col-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

@media (max-width: 767.98px) {
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6 {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}