.cart {
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 1px 12px 0 #c7c7c7;
    border-radius: 50%;
    margin: 0 10px;
}